* :not(ul, ol, li, dl, dt, dd) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
}


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
}


/*  Header */


header{
    height: 90vh;
    background-image: url(../assets/3.jpg);
    display: flex;
    background-repeat: no-repeat;
    background-size: 87.5rem 37.5rem;    
    background-position: center;
    justify-content: flex-end;
}

.navbarCol:hover{
    background-color: rgba(0, 0, 0, 0.144) !important;
    border: 2rem;
}

h1{
    align-self: center;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    margin-bottom: 1rem;
}

.bg-dark{
    background-color: #f4f3ee00 !important;
}

.navbarCol:hover{
    background-color: rgba(0, 0, 0, 0.144) !important;
    border: 2rem;
}

.logo-nav{
    height: 15vh;
}

.anclors{
    font-size: 1.2em;
    color: rgb(2, 2, 2) !important;
}

.anclors:hover{
    text-shadow: 1px 1px 10px #ffffff;
}

.btn-1{
    border: 1px solid #000;
    color: #000;
}
  
.btn-1:hover{
    border: 1px solid #000;
    color: #000;
    text-decoration: underline !important;
}


/* -----------------main-------------- */

main{
    
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
}

.texto{
    margin: 4rem;
    font-size: 2em;
    text-align: center;
    font-weight: 600;
}

.contenedor{
    width: 100%;
    max-width: 1200px;
    min-height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.card{
    width: 330px;
    height: 430px;
    border-radius: 1rem;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    margin: 20px;
    text-align: center;
    overflow: hidden;
    transition: all 0.25s;
    display: flex;
    flex-direction: column;
}

.contenedor .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.37);
} 

.card img{
    
    width: 330px;
    height: 220px;
    margin-bottom: 1rem;
}

.card h3{
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    color: steelblue;
}

.boton-carro{
    font-size: 1.5em;
    padding: .5rem;
    text-decoration: none;
    color: #000;
    background-color: slateblue;
    border-radius: 1rem;
}

.boton-carro:hover{
    background-color: transparent;
    color: #000;
}

.boton-carro:active{
    cursor: wait;
}

.precio{
    font-size: 1.5em;
    align-self: flex-end;
    margin: 1rem 3rem 1rem 0;
}





/* -----------------footer-------------- */

footer{
    min-height: 10vh;
}

.footer-p{
    font-size: 1.2em;
    color: #000;
}

.btnRed:hover{
    color: steelblue;
}

.email-a{
    color: #000;
    text-decoration: none;
}

.h6{
    text-align: center;
}

.mapa{
    width: 150px;
    margin: .5rem;
    height: 100px;
    cursor: pointer;
    border-radius: 50%;
}

.div-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
